@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Icon pop up starts from here */
.mapboxgl-popup {
    max-width: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

.description{
    font-weight: bold;
}




/* CSS for the sightseeing menu starts from here */

.top_sightseeing_menu {
    display: inline-block;
    background: transparent;
    z-index: 2;
    position: absolute;
    width: 200px;
    left: 20px;
    top: 30px;
    border-radius: 10px;
}

.top_sightseeing_menu:hover {
    background: #474747;
}

/* .top_sightseeing_menu:hover .sightseeing_dropdown {
    display: block;
} */

.top_sightseeing_menu:hover .sightseeing_btn {
    background-color: rgba(255, 255, 255, 0.8);
    color: #474747;
}

.sightseeing_btn {
    width: 200px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #474747;
    text-align: center;
    transition: all 0.2s;
}

.sightseeing_dropdown {
    display: none;
}

.sightseeing_dropdown a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    border-radius: 10px;
}

.sightseeing_dropdown a:hover {
    background: #4eb5f1;
}

/* CSS for the crowdedness filter starts from here */

#crowd_filter a {
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
}

/* CSS for the layer filter starts from here */

#layer_filter {
    background: rgba(255, 255, 255, 0.808);
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 20px;
    border-radius: 2px;
    width: 200px;
    border: 3px solid #000000;
    border-radius: 6px;
    font-family: 'Open Sans', Arial, sans-serif;
}

#layer_filter a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 6px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
}

#layer_filter a:last-child {
    border: none;
}

#layer_filter a:hover {
    background-color: #e0e0e0;
    color: #404040;
}

#layer_filter a.active {
    background-color: #474747;
    color: #ffffff;
}

#layer_filter a.active:hover {
    background: #4eb5f1;
}

/* CSS for tags starts from here */

#tags {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left:0;
    right:0;
    border-radius: 2px;
    width: 500px;
    height: 20px;
    border-radius: 6px;
    font-family: 'Open Sans', Arial, sans-serif;
    display: flex;
    column-gap: 3px;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px 0;
    text-decoration: none;
    
}

#tags a {
    display: block;
    padding: 0.3em 0.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color:#efefefc2;
    text-align: center;
    transition: all 0.2s;
    z-index: 1;
    font-size: 11.5px;
}

#tags a:hover {
    background-color: #e0e0e0;
    color: #000000;
}

#tags a.active {
    background-color: #4eb5f1;
    color: #ffffff;
}

#tags a.active:hover {
    background: #7ec3eb;
}

@media all and (max-width:30em) {
    #tags a {
        display: block;
        margin: 0.2em auto;
    }
}

/* CSS for the wiki panel starts from here */

#infoPanel {
    position: absolute;
    z-index: 2;
    display: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    margin-left: 230px;
    margin-top: 30px;
    max-width: 35em;
    background: linear-gradient(160deg, #f5eada 0%, #faf6f0 100%);
}

#infoPanelImage {
    float: right;
    margin-left: 1em;
}

/* CSS for the weather panel starts from here */

.title {
    width: 200px;
    height: 45px;
    border-radius: 10px 10px 0 0;
}

.title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 200px;
    height: 220px;
    background-color: rgb(255, 251, 240);
    z-index: 1;
    bottom: 220px;
    left: 20px;
    position: absolute;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 5px;
    border: 2px solid #d8d8d8;
}

.weather-icon {
    width: 200px;
    height: 100px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.temperature-value {
    width: 200px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    align-items: center;
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 550px;
    height: 100%;
}

.left.collapsed {
    transform: translateX(-545px);
}

.right.collapsed {
    transform: translateX(545px);
}

.sidebar-top {
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-bottom {
    width: 100%;
    height: 50%;
    position: absolute;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-buttons {
    z-index: 1;
    position: absolute;
    top: 20px
}

#sidebar-buttons button {
    padding: 0.3em 0.5em;
    border-radius: 2em;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
    transition: all 0.2s;
    font-size: 12px;
}

#sidebar-buttons button:hover {
    background-color: #cccaca;
    color: #6b6a6a;
}

#sidebar-buttons button.active {
    background-color: #4eb5f1;
    color: #ffffff;
}

#sidebar-buttons button.active:hover {
    background: #7ec3eb;
}

.map-pop {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 80px;
    left: 20px;
    z-index: 1;
}

.map-pop .map-pop-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

#month {
    font-family: 'Open Sans', Arial, sans-serif
}

.map-pop h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

#popularity {
    font-family: 'Open Sans', Arial, sans-serif;
}

.map-pop .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #fca107, #7f3121);
}

.map-pop input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

